<h1>Barter For Something</h1>

<div class="span4">

Choose your item to barter with...
<%= form_tag '/barters/create' %>
<%= select_tag 'Choose your item', options_from_collection_for_select(@auth.items, "id", "name") %>

 <div class='field'>
    <%= submit_tag 'Barter with this item', :class => 'btn btn-primary' %>
  </div>
 
</div>
